body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
section{
    margin-bottom: 130px;
}
/* header-area */

.header-area{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.oragen-color{
    color: #FFA500;
}
.welcome-area{
    width: 50%;
    margin-left: 5%;
    
}
.welcome-area img{
    width: 80%;
}

.welcome-area p{
    margin-bottom: 30px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(#FF916D,#FF6E51);
    padding: 10px 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
}

.dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


/* experience area */

.exper-area{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expo-content{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#FF9672,#FF674A);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#001CFF,#00E6FF);
    border-image-slice: 1;
}



footer p{
    text-align: center;
}